/* Estilos gerais */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #0d1117;
}

p,
a {
    font-size: 15px;
    color: white;
}

span {
    font-size: 30px;
    color: white;
}

input,
textarea {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.envelopar-login {
    width: 960px;
    background: var(--cor--primaria--background--login);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px;
}

.imagem-login {
    transition: 0.5s;
    width: 316px;
}

.imagem-login:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.imagem-login img {
    max-width: 100%;
}

.formulario-login {
    width: 290px;
}

.titulo-formulario-login {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 24px;
    color: var(--cor--background--page);
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.envelopar-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.entrada {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: var(--cor--botâo);
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.iconeEntrada {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    transition: all 0.4s;
}

.iconeEntrada img {
    height: 15px;
}

/* Estilos do botão */
.envelopar-botoes-formulario-login {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.botao-formulario-login {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: var(--cor--botâo);
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--cor--botao--login--cadastro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
}

.botao-formulario-login:hover {
    background: #ccdc94;
}

/* Estilos adicionais */
.botoes-ban {
    width: 40px;
    height: 40px;
}

#img-nav {
    padding: 10px;
    width: 50px;
}


form #containerArquivo{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: var(--cor--botâo);
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

form input[type='file'] {
    display: none;
}

form label[for=foto] {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: var(--cor--botâo);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

form label[for=foto] p {
    font-family: 'Poppins';
    color: #666666;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}